<mat-paginator class="paginator"
  [length]="calls?.totalElements"
  [pageIndex]="pageIndex"
  [pageSize]="pageSize"
  [pageSizeOptions]="[10, 30, 50, 100]"
  (page)="pageEvent = updatePage($event)"
  >
  </mat-paginator>
  <div *ngIf="!calls?.empty" class="call-cards">
  <mat-card *ngFor="let call of calls?.content">
    <mat-card-title>
      <h5 *ngIf="call.name">{{ call.name }}</h5>
    </mat-card-title>
    <div *ngIf="call.description">Description: {{ call.description }}</div>
    <div *ngIf="call.durationHours">
      Duration (hours:minutes): {{ call.durationHours }}:{{ call.durationMinutes }}
    </div>
    <div *ngIf="call.dateStart">
      Date Started: {{ call.dateStart | date: "short" }}
    </div>
    <div *ngIf="call.dateEnd">
      Date Ended: {{ call.dateEnd | date: "short" }}
    </div>
    <div *ngIf="call.status">Call Status: {{ call.status }}</div>
    <div *ngIf="call.direction">Call Direction: {{ call.direction }}</div>
    <mat-accordion *ngIf="call.noteList?.length" multi=true>
        Notes:
        <mat-expansion-panel *ngFor="let note of call.noteList">
          <mat-expansion-panel-header>{{ note.name }}</mat-expansion-panel-header>
          <div>
            <div *ngIf="note.dateEntered">Date Entered: {{ note.dateEntered | date: "fullDate" }}</div>
            <div *ngIf="note.dateModified">Date Modified: {{ note.dateModified | date: "fullDate" }}</div>
            <div *ngIf="note.description">Description: {{ note.description }}</div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
  </mat-card>
</div>
<div *ngIf="calls?.empty" class="no-content">
  <br />
  <h3>No calls found!</h3>
</div>