@import "variables.scss";

.call-cards {
    margin-top: 1rem;

    mat-card {
        box-shadow: $blue-shadow;
        margin: 0 3rem 1rem 3rem;
    }
}

mat-paginator {
    margin: $tabmargin;
}

mat-expansion-panel {
    margin-top: .5rem !important;
    background-color: #F0F4C3;
    box-shadow: none !important;
}

.no-content { 
    margin-top: 1rem;
    h3{
        text-align: center;
    }
}