$darkblue: #0B264C;
// $lightblue1: #1577E7;
// $green1: #8DA349;

// Three blue shades defined in material palette
$lightblue: #2962FF;
$lighterblue: #768fff;
$blue: #0039cb;
$green: #c0ca33;
$yellow: #EFC049;
$darkgrey: #434343;
$grey: #6D6B6B;
$lightgrey: #E1E1E1;
$lightestgrey: #F0F0F0;
$background: #F7F9FA;
$warning-red: #f44336;

$blue-shadow: 1px 2px 8px -1px #d5dbe8 !important;

$tabmargin: 1rem 3rem 0 3rem;