<mat-paginator class="paginator"
  [length]="contacts?.totalElements"
  [pageIndex]="pageIndex"
  [pageSize]="pageSize"
  [pageSizeOptions]="[10, 30, 50, 100]"
  (page)="pageEvent = updatePage($event)"
>
</mat-paginator>
<div *ngIf="!contacts?.empty" class="contact-cards">
  <mat-card *ngFor="let contact of contacts?.content">
    <mat-card-title>
      <h5 routerLink="/contacts/{{contact.id}}">{{ contact.salutation }} {{ contact.firstName }} {{ contact.lastName }}</h5>
    </mat-card-title>
    <mat-card-content>
      <div>
        <div *ngIf="contact.description?.trim()">
          Description: {{ contact.description }}
        </div>
        <div *ngIf="contact.department">
          Department: {{ contact.department }}
        </div>
        <div *ngIf="contact.doNotCall">
          Do Not Call
        </div>
        <div *ngIf="contact.phoneHome">
          Phone Home: {{ contact.phoneHome }}
        </div>
        <div *ngIf="contact.phoneMobile">
          Phone Mobile: {{ contact.phoneMobile }}
        </div>
        <div *ngIf="contact.phoneWork">
          Phone Work: {{ contact.phoneWork }}
        </div>
        <div *ngIf="contact.phoneOther">
          Phone Other: {{ contact.phoneOther }}
        </div>
        <div *ngIf="contact.phoneFax">
          Phone Fax: {{ contact.phoneFax }}
        </div>
        <div *ngIf="contact.primaryAddressStreet">
          Primary Address: 
          <div>{{ contact?.primaryAddressStreet.trim() }} <br />
            {{ buildAddress(contact.primaryAddressCity, contact.primaryAddressState, contact.primaryAddressPostalcode) }} <br />
            {{ contact?.primaryAddressCountry }}
          </div>
        </div>
        <div *ngIf="contact.altAddressStreet">
          Alternate Address: 
          <div>{{ contact?.altAddressStreet.trim() }} <br />
            {{ buildAddress(contact.altAddressCity, contact.altAddressState, contact.altAddressPostalcode) }} <br />
            {{ contact?.altAddressCountry }}
          </div>
        </div>
        <div *ngIf="contact.birthdate">
          Birthdate: {{ contact.birthdate }}
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="contacts?.empty" class="no-content">
  <br />
  <h3>No contacts found!</h3>
</div>