<div class="accounts-wrap">
  <div class="accounts-header">
    <h2>Accounts</h2>
    <div class="search">
      <label>Search By:</label>
      <mat-radio-group [(ngModel)]="radioOption" (change)="onRadioButtonChange()" name="radioButtons">
        <mat-radio-button [value]="'account'">Account Name</mat-radio-button>
        <mat-radio-button [value]="'salesperson'">Salesperson Name</mat-radio-button>
      </mat-radio-group>
      <input #searchBox id="search-box" (input)="search(searchBox.value)" />
    </div>

  </div>
  
  <div id="search-component">
      <app-loading-spinner class="spinner" *ngIf="loading"></app-loading-spinner>
      <mat-card *ngFor="let account of accounts?.content">
          <mat-card-content>
            <div class="card-grid">
              <a routerLink="/accounts/{{account.id}}">{{account.name}}</a>
              <div *ngIf="account.salesRepName; else notShow">{{ account.salesRepName }}</div>
              <div *ngIf="account.billingAddressCity; else notShow" else notShow>{{ buildCityState(account.billingAddressCity, account.billingAddressState) }}</div>              
              <ng-template #notShow>
                <p>
                </p>
              </ng-template>
            </div>
          </mat-card-content>
      </mat-card>
  </div>

  <mat-paginator [length]="accounts?.totalElements"
              [pageIndex]="pageIndex"
              [pageSize]="pageSize"
              [pageSizeOptions]="[10, 30, 50, 100]"
              (page)="pageEvent = updatePage($event)">
  </mat-paginator>
</div>