@import "variables.scss";

.opportunity-paginator {
    display: flex;
    align-items: center;
}

.contacts-wrap {
    margin-left: 4rem;
    margin-right: 4rem;

    .contacts-header {
        margin: 2rem 0 1.5rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .filter {
            margin-right: 1rem;
        }

        .search {
            label {
                margin-right: 10px;
                color: #434343;
                font-size: 14px;
            }
            
            mat-radio-button {
                font-size: 14px;
                margin-right: 1rem;
            }
        
            #search-box {
                width: 300px;
                padding-top: 8px;
                padding-bottom: 8px;
                border: 1px solid #c8d0e3;
            }
        }
    }
}

mat-paginator {
    background-color: $background;
}

mat-card {
    box-shadow: $blue-shadow;
    margin-top: .5rem !important;
    padding: .75rem 1rem;

    a {
        color: $lightblue;
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
    }

    div {
        background-color: white;
        font-size: 14px;
    }
}

.card-grid {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 1fr;
    align-items: center;
}

.spinner {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
