<div class="contacts-wrap">
  <div class="contacts-header">
    <h2>Opportunities</h2>
    <div class="opportunity-paginator">
      <mat-form-field class="filter">
        <mat-label>Filter by Sales Stage</mat-label>
        <mat-select
          [(value)]="this.salesStage"
          (selectionChange)="fetchOpportunities()"
          multiple
        >
          <mat-option *ngFor="let state of this.salesStages" [value]="state">{{
            state
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="search">
        <label>Search By:</label>
        <mat-radio-group
          [(ngModel)]="radioOption"
          (change)="onRadioButtonChange()"
          name="radioButtons"
        >
          <mat-radio-button [value]="'opportunity'"
            >Opportunity Name</mat-radio-button
          >
          <mat-radio-button [value]="'account'">Account Name</mat-radio-button>
          <mat-radio-button [value]="'salesperson'"
            >Salesperson Name</mat-radio-button
          >
        </mat-radio-group>
        <input #searchBox id="search-box" (input)="search(searchBox.value)" />
      </div>
    </div>
  </div>
  <div id="search-component">
    <app-loading-spinner class="spinner" *ngIf="loading"></app-loading-spinner>
    <mat-card *ngFor="let opportunity of opportunities?.content">
      <mat-card-content>
        <div class="card-grid">
          <a routerLink="/opportunity/{{ opportunity.id }}">{{
            opportunity.name
          }}</a>
          <div *ngIf="opportunity.relatedAccounts; else notShow">
            <div *ngFor="let account of opportunity.relatedAccounts">
              <a routerLink="/accounts/{{ account.id }}">{{ account.name }}</a>
            </div>
          </div>
          <div *ngIf="opportunity.salesRep; else notShow">
            {{ buildSalesRepName(opportunity.salesRep) }}
          </div>
          <div *ngIf="opportunity.amountUsdollar; else notShow">
            {{ opportunity.amountUsdollar }} USD
          </div>
          <div *ngIf="opportunity.salesStage; else notShow">
            {{ opportunity.salesStage }}
          </div>
          <ng-template #notShow>
            <p></p>
          </ng-template>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <mat-paginator
    [length]="opportunities?.totalElements"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [pageSizeOptions]="[10, 30, 50, 100]"
    (page)="pageEvent = updatePage($event)"
  >
  </mat-paginator>
</div>
