@import "variables.scss";

.login-wrap {
    background-color: white;
    box-shadow: $blue-shadow;
    border-radius: 4px;
    width: 30vw;
    margin: auto;
    margin-top: 14vh;
    padding: 3rem 0rem;

    .icon-link {
        display: flex;
        align-items: center;

        img {
            height: 24px;
            margin-right: 8px;
        }

        h2 {
            margin: 0;
        }
    }

    p {
        color: $lightblue;
    }

    form {
        width: 25vw;
        margin: auto;

        .form-group {
            display: flex;
            flex-direction: column;

            input {
                padding: 6px 2px;
                border-radius: 2px;
                border: 1px solid $lightgrey;
                margin-top: 6px;
                margin-bottom: .5rem;
            }

            button {
                padding: 8px 12px;
                background-color: $lightblue;
                color: white;
                border: none;
                border-radius: 2px;
                margin-top: 1rem;
                font-size: 16px;
                font-weight: 600;
            }
        }
    }
}


