<div class="contacts-wrap">
    <div class="contacts-header">
      <h2>Contacts</h2>
      <div class="search"> Search: 
        <input #searchBox id="search-box" (input)="search(searchBox.value)" />
      </div>
    </div>
    <div id="search-component">
        <app-loading-spinner class="spinner" *ngIf="loading"></app-loading-spinner>
        <mat-card>
          <div *ngFor="let contact of contacts?.content">
            <mat-card-title>
              <a routerLink="/contacts/{{contact.id}}">{{contact.salutation}} {{contact.firstName}} {{contact.lastName}}</a>
            </mat-card-title>
            <mat-card-content>
              <p class="accountName" *ngIf="(contact.relatedAccounts?.length === 0)">N/A</p>
              <p class="accountName" *ngFor="let account of contact.relatedAccounts">
                <a class="relatedAccount" routerLink="/accounts/{{account.id}}">{{account.name}}</a>
              </p>
              <p>{{ buildAddress(contact.primaryAddressCity, contact.primaryAddressState) }}</p>
            </mat-card-content>
          </div>
        </mat-card>
    </div>
    <mat-paginator [length]="contacts?.totalElements"
                [pageIndex]="pageIndex"
                [pageSize]="pageSize"
                [pageSizeOptions]="[10, 30, 50, 100]"
                (page)="pageEvent = updatePage($event)">
    </mat-paginator>
  </div>