@import "variables.scss";

.contacts-wrap {
    margin-left: 4rem;
    margin-right: 4rem;

    .contacts-header {
        margin: 2rem 0 1.5rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .search {
            label {
                margin-right: 10px;
                color: #434343;
                font-size: 14px;
            }
        
            #search-box {
                width: 300px;
                padding-top: 8px;
                padding-bottom: 8px;
                border: 1px solid #c8d0e3;
            }
        }
    }
}

mat-paginator {
    background-color: $background;
}

mat-card {
    box-shadow: none !important;
    display: grid;
    grid-gap: .4rem;
    padding: 0rem 0;
    background-color: $background;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: .5rem;

    a {
        color: $lightblue;
        text-decoration: none;
        font-size: 18px;
        font-weight: 600;
    }

    div {
        background-color: white;
        box-shadow: $blue-shadow;
        padding: .5rem 1rem 0 1rem;
        border-radius: 4px;
    }

    .relatedAccount {
        font-size: 14px;
    }
}

.spinner {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.accountName {
    font-weight: bold;
}



