@import "variables.scss";


.main-description {
    padding: 2rem 3rem;
    width: auto;
    
    div {
        margin-top: .5rem;

        span {
            font-weight: 600;
        }
    }

    a {
        color: $lightblue;
        text-decoration: none;
        font-weight: 600;
    }
}

button {
    padding: 8px 20px;
    background-color: $lightblue;
    color: white;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    margin-left: 1rem;
    margin-bottom: 2rem;
}