<div class="main-description" *ngIf="contact">
    <h3 *ngIf="contact.firstName || contact.lastName">{{ contact.firstName }} {{ contact.lastName }}</h3>
    <div>
      <span *ngIf="contact.relatedAccounts.length === 1">Related Account:</span>
      <span *ngIf="contact.relatedAccounts.length > 1">Related Accounts:</span>
      <div *ngFor="let account of contact.relatedAccounts">
        <a routerLink="/accounts/{{account.id}}">{{account.name}}</a>
      </div>
    </div>
    <div *ngIf="contact.description">
      <span>Description: </span>{{ contact.description }}
    </div>
    <div *ngIf="contact.title">
      {{ contact.title }}
    </div>
    <div *ngIf="contact.department">
      <span>Department: </span>{{ contact.department }}
    </div>
    <div *ngIf="contact.doNotCall">
      <span>Do Not Call: </span>{{ contact.doNotCall }}
    </div>
    <div *ngIf="contact.phoneHome">
      <span>Home Phone: </span>{{ contact.phoneHome }}
    </div>
    <div *ngIf="contact.phoneMobile">
      <span>Mobile Phone: </span>{{ contact.phoneMobile }}
    </div>
    <div *ngIf="contact.phoneWork">
      <span>Work Phone: </span>{{ contact.phoneWork }}
    </div>
    <div *ngIf="contact.phoneOther">
      <span>Other Phone: </span>{{ contact.phoneOther }}
    </div>
    <div *ngIf="contact.phoneFax">
      <span>Fax Number: </span>{{ contact.phoneFax }}
    </div>
    <div *ngIf="contact.primaryAddressStreet"> 
      <span>Primary Address: </span>
      <div>
        {{ contact.primaryAddressStreet }}<br />
        {{ buildAddress(contact.primaryAddressCity, contact.primaryAddressState, contact.primaryAddressPostalcode)}}<br />
        {{ contact.primaryAddressCountry }}
      </div>
    </div>
    <div *ngIf="contact.altAddressStreet">
      <span>Alternate Address: </span>
      <div>
        {{ contact.altAddressStreet }}<br />
        {{ buildAddress(contact.altAddressCity, contact.altAddressState, contact.altAddressPostalcode) }}<br />
        {{ contact.altAddressCountry }}
      </div>
    </div>
    <div *ngIf="contact.birthdate">
        <span>Birthdate: </span>{{ contact.birthdate }}
    </div>
  </div>

<mat-tab-group *ngIf="contact?.id">
    <mat-tab label="Meetings">
        <app-meeting [parentId]="contact.id"></app-meeting>
    </mat-tab>
  
    <mat-tab label="Calls">
        <app-call [parentId]="contact.id"></app-call>
    </mat-tab>
  
    <mat-tab label="Emails">
        <app-email [parentId]="contact.id"></app-email>
    </mat-tab>

    <mat-tab label="Opportunities">
      <app-opportunity [contactId]="contact.id"></app-opportunity>
    </mat-tab>
  
</mat-tab-group>