<nav>
    <div class="logo-title" routerLink="/accounts" >
        <img src="assets/tote_logo_single.png">
        <h1>{{title}}</h1>
    </div>
    <div class="nav-links" *ngIf="currentUser">
        <a routerLink="/accounts" class="icon-link">
            <img src="assets/accounts.png">
            <p>Accounts</p>
        </a>
        <a routerLink="/contacts" class="icon-link">
            <img src="assets/contacts.png">
            <p>Contacts</p>
        </a>
        <a routerLink="/opportunities" class="icon-link">
            <img src="assets/bulb.png">
            <p>Opportunities</p>
        </a>
        <a (click)="logout()" class="icon-link">
            <img src="assets/exit.png">
            <p>Logout</p>
        </a>
    </div>
</nav>

<app-messages></app-messages>

<router-outlet></router-outlet>
