@import "variables.scss";

nav {
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 2px 5px #e0e0e0;


    .logo-title {
        display: flex;
        align-items: center;
        cursor: pointer;

        img {
            height: 28px;
            margin-right: 10px;
        }

        h1 {
            font-weight: 400;
            font-size: 24px;
            padding: 0;
            margin: 0;
            color: $darkblue;
        }
    }
}

.nav-links {
    display: flex;
    align-items: center;
    
    .icon-link {
        display: flex;
        align-items: center;
        margin-left: 2rem;
        text-decoration: none;
        cursor: pointer;

        img {
            height: 16px;
            margin-right: 8px;
        }

        p {
            color: $lightblue;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}
