<mat-paginator class="paginator"
  [length]="emails?.totalElements"
  [pageIndex]="pageIndex"
  [pageSize]="pageSize"
  [pageSizeOptions]="[10, 30, 50, 100]"
  (page)="pageEvent = updatePage($event)"
  >
  </mat-paginator>
<div *ngIf="!emails?.empty" class="email-cards">
  <mat-card *ngFor="let email of emails?.content">
    <mat-card-title>
      <h5 *ngIf="email.name">{{ email.name }}</h5>
    </mat-card-title>
    <mat-card-content>
      <div *ngIf="email.dateSent">
        Sent: {{ email.dateSent | date: "short" }}
      </div>
      <div *ngIf="email.type">Type: {{ email.type }}</div>
      <div *ngIf="email.status">Status: {{ email.status }}</div>
      <div *ngIf="email.intent">Intent: {{ email.intent }}</div>
      <div *ngIf="email.state">State: {{ email.state }}</div>
      <div *ngIf="email.totalAttachments">
        Total Attachments: {{ email.totalAttachments }}
      </div>
      <div *ngIf="email.direction">Direction: {{ email.direction }}</div>
      <div *ngIf="email.emailAddresses">
        Recipients:
        <div *ngFor="let address of email.emailAddresses">
          <span class="recipient-address">{{ address.emailAddress }}</span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="emails?.empty" class="no-content">
  <br />
  <h3>No emails found!</h3>
</div>
