<div class="main-description" *ngIf="opportunity">
  <h3 *ngIf="opportunity.name">{{ opportunity.name }}</h3>
  <div *ngIf="opportunity.relatedAccounts">
    <div *ngFor="let account of opportunity.relatedAccounts">
      <a routerLink="/accounts/{{ account.id }}">{{ account.name }}</a>
    </div>
  </div>
  <div *ngIf="opportunity.salesRep">
    <span>Sales Rep: </span>{{ buildSalesRepName(opportunity.salesRep) }}
  </div>
  <div *ngIf="opportunity.amount">
    <span>Amount: </span>{{ opportunity.amount }}
  </div>
  <div *ngIf="opportunity.dateEntered">
    <span>Date Entered: </span>{{ opportunity.dateEntered | date: "short" }}
  </div>
  <div *ngIf="opportunity.dateClosedTimestamp">
    <span>Date Closed: </span
    >{{ opportunity.dateClosedTimestamp | date: "short" }}
  </div>
  <div *ngIf="opportunity.salesStage">
    <span>Sale Stage: </span>{{ opportunity.salesStage }}
  </div>
</div>
