<div class="main-description" *ngIf="account">
  <h2 *ngIf="account.name">{{ account.name }}</h2>
  <div *ngIf="account.accountType">
    <span>Account Type: </span>{{ account.accountType }}
  </div>
  <div *ngIf="account.salesRepName">
    <span>Salesperson: </span>{{ account.salesRepName }}
  </div>
  <div *ngIf="account.description?.trim()">
    <span>Description: </span>{{ account.description }}
  </div>
  <div *ngIf="account.industry">
    <span>Industry: </span>{{ account.industry }}
  </div>
  <div *ngIf="account.annualRevenue">
    <span>Annual Revenue: </span>{{ account.annualRevenue }}
  </div>
  <div *ngIf="account.phoneFax">
    <span>Fax Number: </span>{{ account.phoneFax }}
  </div>
  <div *ngIf="account.billingAddressStreet">
    <span>Billing Address:</span> 
    <div>
      {{ account.billingAddressStreet }}<br />
      {{ buildAddress(account.billingAddressCity, account.billingAddressState, account.billingAddressPostalcode) }} <br />
      {{ account.billingAddressCountry }}
    </div>
  </div>
  <div *ngIf="account.phoneOffice">
    <span>Office Phone: </span>{{ account.phoneOffice }}
  </div>
  <div *ngIf="account.phoneAlternate">
    <span>Alternate Phone: </span>{{ account.phoneAlternate }}
  </div>
  <div *ngIf="account.website">
    <a href="//{{ account.website }}">{{ account.website }}</a>
  </div>
  <div *ngIf="account.ownership">
    <span>Ownership: </span>{{ account.ownership }}
  </div>
  <div *ngIf="account.employees">
    <span>Employees: </span>{{ account.employees }}
  </div>
  <div *ngIf="account.shippingAddressStreet">
    <span>Shipping Address:</span>
    <div>
      {{ account.shippingAddressStreet }}<br />
      {{ buildAddress(account.shippingAddressCity, account.shippingAddressState, account.shippingAddressPostalcode) }} <br />
      {{ account.shippingAddressCountry }}
    </div>
  </div>
</div>

<mat-tab-group *ngIf="account?.id">
  <mat-tab label="Meetings">
    <app-meeting [parentId]="account.id"></app-meeting>
  </mat-tab>

  <mat-tab label="Calls">
    <app-call [parentId]="account.id"></app-call>
  </mat-tab>

  <mat-tab label="Emails">
    <app-email [parentId]="account.id"></app-email>
  </mat-tab>

  <mat-tab label="Opportunities">
    <app-opportunity [accountId]="account.id"></app-opportunity>
  </mat-tab>

  <mat-tab label="Contacts">
    <app-contacts [parentId]="account.id"></app-contacts>
  </mat-tab>
</mat-tab-group>
