@import "variables.scss";

.opportunity-cards {
    margin-top: 1rem;

    mat-card {
        box-shadow: $blue-shadow;
        margin: 0 3rem 1rem 3rem;
    }
}

.filter {
    margin-left: 1rem;
    font-size: 14px;
}

.opportunity-paginator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 3rem 0 3rem;
    border-radius: 4px;
}

mat-paginator {
    background-color: $background;
    width: 80%;
    font-size: 14px;
}

mat-expansion-panel {
    margin-top: .5rem !important;
    background-color: #F0F4C3;
    box-shadow: none !important;
}

.recipient-address{
    margin-left: .5rem;
}

.no-content { 
    margin-top: 1rem;
    h3{
        text-align: center;
    }
}