<div class="opportunity-paginator">
  <mat-form-field class="filter">
    <mat-label>Filter by Sales Stage</mat-label>
    <mat-select
      [(value)]="this.salesStage"
      (selectionChange)="getOpportunities()"
      multiple
    >
      <mat-option *ngFor="let state of this.salesStages" [value]="state">{{
        state
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-paginator
    class="paginator"
    [length]="opportunities?.totalElements"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [pageSizeOptions]="[10, 30, 50, 100]"
    (page)="pageEvent = updatePage($event)"
  >
  </mat-paginator>
</div>

<div *ngIf="!opportunities?.empty" class="opportunity-cards">
  <mat-card *ngFor="let opportunity of opportunities?.content">
    <mat-card-title>
      <h5 *ngIf="opportunity.name">{{ opportunity.name }}</h5>
    </mat-card-title>
    <mat-card-content>
      <div *ngIf="opportunity.salesRep">
        <span>Salesperson: </span>{{ buildSalesRepName(opportunity.salesRep) }}
      </div>
      <div *ngIf="opportunity.description">
        <span>Description: </span>{{ opportunity.description }}
      </div>
      <div *ngIf="opportunity.dateEntered">
        <span>Date Entered: </span>{{ opportunity.dateEntered | date: "short" }}
      </div>
      <div *ngIf="opportunity.opportunityType">
        <span>Opportunity Type: </span>{{ opportunity.opportunityType }}
      </div>
      <div *ngIf="opportunity.leadSource">
        <span>Lead Source: </span>{{ opportunity.leadSource }}
      </div>
      <div *ngIf="opportunity.amount">
        <span>Amount: </span>{{ opportunity.amount }}
      </div>
      <div *ngIf="opportunity.amountUsdollar">
        <span>Amount (US Dollars): </span>{{ opportunity.amountUsdollar }}
      </div>
      <div *ngIf="opportunity.dateClosedTimestamp">
        <span>Date Closed: </span
        >{{ opportunity.dateClosedTimestamp | date: "short" }}
      </div>
      <div *ngIf="opportunity.nextStep">
        <span>Next Step: </span>{{ opportunity.nextStep }}
      </div>
      <div *ngIf="opportunity.salesStage">
        <span>Sales Stage: </span>{{ opportunity.salesStage }}
      </div>
      <div *ngIf="opportunity.salesStatus">
        <span>Sales Status: </span>{{ opportunity.salesStatus }}
      </div>
      <div *ngIf="opportunity.probability">
        <span>Probability: </span>{{ opportunity.probability }}
      </div>
      <div *ngIf="opportunity.bestCase">
        <span>Best Case: </span>{{ opportunity.bestCase }}
      </div>
      <div *ngIf="opportunity.worstCase">
        <span>Worst Case: </span>{{ opportunity.worstCase }}
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="opportunities?.empty" class="no-content">
  <br />
  <h3>No opportunities found!</h3>
</div>
