@import "variables.scss";

.message-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $warning-red;
    border-radius: 2px;
    width: 98vw;
    margin: auto;
    margin-top: .5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;

    .message {
        display: flex;
        align-items: center;

        .error-icon {
            height: 20px;
            margin-left: 3rem;
            margin-right: 8px;
        }
    
        p {
            color: white;
            margin-right: 1rem;
        }
    }

    .close-icon {
        height: 14px;
        margin-right: 3rem;
    }

}
