<div *ngIf="messageService.messages.length">
    <div *ngFor="let message of messageService.messages; index as i">
        <div class="message-wrapper">
            <div class="message">
                <img class="error-icon" src="assets/warning_white.png">
                <p>{{ message }}</p>
            </div>
            <img class="close-icon" src="assets/close_white.png" (click)="messageService.delete(i)">
        </div>
    </div>
</div>
