/* You can add global styles to this file, and also import other style files */
@import './theme.scss';
@import "variables.scss";


html, body { height: 100%; }
body { 
    margin: 0; 
    background-color: $background;
}

* {
    font-family: Open Sans, "Helvetica Neue", sans-serif; 
    color: $darkgrey;
}

 h1, h2, h3, h4, h5, h6 {
    font-family: Rubik, "Helvetica Neue", sans-serif; 
    font-weight: 500;
    margin: 0;
    padding: 0;
}

h2 {
    font-weight: 400;
}

h5 {
    color: $lightblue;
}

mat-paginator {
    background-color: $background !important;
    box-shadow: none !important;
    font-size: 14px !important;
}