@import '~@angular/material/theming';
@include mat-core();

$my-theme-primary: mat-palette($mat-blue, A700);
$my-theme-accent: mat-palette($mat-lime, 600);
$my-theme-warn: mat-palette($mat-red);

$my-theme: mat-light-theme($my-theme-primary, $my-theme-accent, $my-theme-warn);

@include angular-material-theme($my-theme);

