<mat-paginator class="paginator"
  [length]="meetings?.totalElements"
  [pageIndex]="pageIndex"
  [pageSize]="pageSize"
  [pageSizeOptions]="[10, 30, 50, 100]"
  (page)="pageEvent = updatePage($event)"
  >
  </mat-paginator>
<div *ngIf="!meetings?.empty" class="meeting-cards">
  <mat-card *ngFor="let meeting of meetings?.content">
    <mat-card-title>
      <h5 *ngIf="meeting.name">{{ meeting.name }}</h5>
    </mat-card-title>
    <mat-card-content>
      <div *ngIf="meeting.description">Description: {{ meeting.description }}</div>
      <div *ngIf="meeting.location">Location: {{ meeting.location }}</div>
      <div *ngIf="meeting.durationHours">Duration: {{ meeting.durationHours }} hours {{ meeting.durationMinutes}} minutes</div>
      <div *ngIf="meeting.dateStart">Date Start: {{ meeting.dateStart | date: "short" }}</div>
      <div *ngIf="meeting.dateEnd">Date End: {{ meeting.dateEnd | date: "short" }}</div>
      <div *ngIf="meeting.status">Status: {{ meeting.status }}</div>
      <div *ngIf="meeting.type">Meeting Type: {{ meeting.type }}</div>
      <mat-accordion *ngIf="meeting.noteList?.length" multi=true>
        Notes:
        <mat-expansion-panel *ngFor="let note of meeting.noteList">
          <mat-expansion-panel-header>{{ note.name }}</mat-expansion-panel-header>
          <div>
            <div *ngIf="note.dateEntered">Date Entered: {{ note.dateEntered | date: "fullDate" }}</div>
            <div *ngIf="note.dateModified">Date Modified: {{ note.dateModified | date: "fullDate" }}</div>
            <div *ngIf="note.description">Description: {{ note.description }}</div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="meetings?.empty" class="no-content">
  <br />
  <h3>No meetings found!</h3>
</div>